<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ninponix_Office.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Ninponix_Office.Properties.Settings>
            <setting name="textdoc_Font" serializeAs="String">
                <value>Segoe UI Light, 12pt</value>
            </setting>
            <setting name="textdoc_fontcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextDocumentsThreadCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textDocuments_WordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextDocumentAutoSaveTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VisualDocumentAutoRender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LearnMore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vdinstance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RECOVERY_ENABLED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RECOVERY_TIME" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="OpenWhat" serializeAs="String">
                <value>START_SCREEN</value>
            </setting>
            <setting name="PriorityDocument" serializeAs="String">
                <value />
            </setting>
            <setting name="UPDATE_LINKS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UPDATE_LINKS_ON" serializeAs="String">
                <value>START</value>
            </setting>
            <setting name="RENDERING_SYSTEM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MUIP_CACHING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TEXT_DOCUMENT_SHORTCUTS_ENABLED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ENABLE_EXTERNAL_TOOLS" serializeAs="String">
                <value>True</value>
            </setting>
        </Ninponix_Office.Properties.Settings>
    </userSettings>
</configuration>